.formContainer {
    width: 90%;
    max-width: 500px !important;
    margin: 10px auto;
    padding-top: 20px;
}

.radioButtons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.error {
color: red;
font-size: 15px;
margin-top: 5px;
}

.information {

    color: green;
    font-size: 15px;
    margin-top: 5px;

}

.invisible {

    display: none;
}

@media all and (max-width: 470px) {
    .formContainer {
        min-width: 300px;
    }
}