.formContainer {
    width: 450px;
    margin: 0 auto;
    padding-top: 20px;
}

.radioButtons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.error {
color: red;
font-size: 15px;
margin-top: 5px;
}

.information {

    color: green;
    font-size: 15px;
    margin-top: 5px;

}

.invisible {

    display: none;
}