
.App {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navItem {
  padding: 1rem 0 !important;
  min-width: auto !important;
}
.main {
  display: flex !important;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  margin: 0 0 0 150px;
  font-size: 16px;
}

.search {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.pieUl {
  list-style-type: none;
}
.pieLi {
  text-align: left;
}
.pieLi::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.pieLi__asia::before {
  color: #0088FE;
}
.pieLi__europe::before {
  color: #00C49F;
}
.pieLi__northamerica::before {
  color: #FFBB28;
}
.pieLi__africa::before {
  color: #d37736;
}
.pieLi__southamerica::before {
  color: #FF8042;
}
.pieLi__antarctica::before {
  color: #ff3c42;
}
.pieLi__australia::before {
  color: #764afe;
}

.favouriteContainer {
  position: relative !important;
}

.TripImage{
  position: relative;
  padding-top: 18px;
  height: auto;
  min-height: 168px;
  width: 299px;
}

.TripImage > img{
  height: 168px !important;
  width: 289px !important;
}
.tripContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 298px;
  margin: 0 auto;
}

.iconFavourites {
  position: absolute !important;
  padding: 1rem;
  bottom: 1.5rem;
  right: 1.5rem;
  color: #fff;
}

@media all and (max-width:500px) {
  .main {
    margin: 0 0 0 60px
  }
}
